@keyframes rainbow {
  0% {
    filter:hue-rotate(0deg)
  }

  100% {
    filter:hue-rotate(360deg)
  }
}

@keyframes blink {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.55;
  }
  75% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.5), 10px -5px 30px 20px rgba(255, 0, 0, 0.5),
      -10px -5px 30px 20px rgba(0, 0, 255, 0.5), 0px 13px 30px 20px rgba(0, 255, 0, 0.5);
  }
  100% {
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.5), -10px 5px 30px 20px rgba(255, 0, 0, 0.5),
      10px 5px 30px 20px rgba(0, 0, 255, 0.5), 0px -13px 30px 20px rgba(0, 255, 0, 0.5);
  }
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a[href] {
  color: inherit;
  text-decoration: none;
}

a:hover[href] {
  text-decoration: underline;
}

.main {
  width: 100%;
  margin-top: 55px;
  margin-bottom: 10px;
}

.board-table {
  border-spacing: 0px;
  border-collapse: collapse;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}

.bg-red {
  background: red;
}
.bg-green {
  background: #0e0;
}
.bg-cyan {
  background: cyan;
}
.bg-yellow {
  background: gold;
}
.bg-blue {
  background: #33f;
}
.bg-purple {
  background: magenta;
}
.bg-none {
  background: white;
}
.bg-rainbow {
  background: cyan;
  animation: rainbow 3s infinite;
}

.rainbow {
  color: violet;
  animation: rainbow 3s infinite;
}

.fg-red {
  color: red;
}
.fg-green {
  color: #0b0;
}
.fg-cyan {
  color: #0bb;
}
.fg-yellow {
  color: #fb0;
}
.fg-blue {
  color: #33f;
}
.fg-purple {
  color: magenta;
}
.fg-none {
  color: white;
}

.cell {
  width: 20px;
  height: 20px;
  text-align: center;
}

.attackable {
  cursor: pointer;
  transition: 0.2s;
}

.resolved {
  opacity: 0;
  transition: 0.3s;
}

.aimed {
  opacity: 0.66;
}

.aimed::after {
  content: " ";
  position: absolute;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.5);
  z-index: 2;
  background: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

.header {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: stretch;
  position: fixed;
  padding: 0px;
  font-size: 18pt;
  width: 100%;
  background: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
  margin: 0px;
  left: 0px;
  top: 0px;
  cursor: default;
  height: 36px;
}

.turns {
  text-align: center;
  font-size: 18pt;
  vertical-align: middle;
  line-height: 36px;
  margin-right: 5px;
  margin-left: -100px;
  width: 300px;
  text-align: right;
  float: right;
  overflow: visible;
}

.field-name {
  font-size: 8pt;
}

.game {
  display: flex;
  flex-flow: row;
}

.spacer {
  flex-grow: 1;
}

.analysis {
  position: fixed;
  z-index: 2;
  opacity: 0;
  min-width: 300px;
  pointer-events: none;
}

.analysis > div {
  background: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  padding: 5px;
  margin-bottom: 5px;
}

.analysis-shown {
  opacity: 0.9;
}


.combat-log {
  text-align: center;
}

.battle-outcome {
  text-align: center;
}

.enemy {
  text-align: center;
  padding-bottom: 3px;
}

.attacking {
  color: green;
}

.defending {
  color: red;
}

.battle-win {
  color: green;
}

.battle-lose {
  color: red;
}

.battle-draw {
  color: gold;
}

.shown {
  opacity: 0.9;
}

button {
  display: inline-block;
  height: 32px;
  padding: 0 20px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

button:active {
  background: #eee;
}

.header > button {
  width: 120px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.prota {
  line-height: 36px;
  margin: 0 20px;
}

.dropdown {
  display: none;
  overflow: hidden;
  position: absolute;
  flex-flow: column;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background: white;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.4);
}

.hotkey::first-letter {
  color: red;
}

.dropdown button::first-letter {
  color: red;
}

div:hover > .dropdown {
  display: flex;
  opacity: 1;
}

.menu {
  padding: 0px;
}

.menu button {
  width: 150px;
}

button:hover {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.buttons-horizontal {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.buttons-horizontal button{
  flex-grow: 1;
}

.panel {
  position: fixed;
  z-index: 100;
  margin-left: -450px;
  width: 900px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  padding: 10px;
  display: flex;
  flex-flow: column;
  transition: 0.5s;
  left: 50%;
}

.bottom{
  bottom: 0px;
  margin-bottom: 50px;
}

.center{
  margin-top: auto;
  margin-bottom: auto;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.panel-hidden-ne{
  left: -10%;
  opacity: 0;
  transform: scale(0);
  margin-bottom: 100%;
  pointer-events: none;
}

.panel-hidden-n{
  opacity: 0;
  transform: none;
  top: -100%;
  pointer-events: none;
}

.what button {
  margin: auto;
  width: 96%;
  margin-top: 10px;
}

.page-title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 36px;
  letter-spacing: 0.5em;
}

.board-conf {
  margin: 10px auto;
  width: 800px;
  text-align: center;
}

.files {
}

input {
  width: 50px;
  border: solid rgba(0, 0, 0, 0.3);
  border-width: 0px 0px 1px 0px;
  font-size: 14pt;
  text-align: right;
}

ul {
  list-style-type: none;
  margin: 0px;
}

.save {
  width: 400px;
}

.wip {
  text-decoration: line-through;
}

.files button {
  margin: 3px;
}

.darken {
  filter: brightness(0.4);
}

.frozen {
  filter: grayscale(1);
}

.dream {
  z-index: 1;
  position: absolute;
  width: 20px;
  height: 20px;
  pointer-events: none;
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.5), 10px -5px 30px 20px rgba(255, 128, 128, 0.5),
      -10px -5px 30px 20px rgba(128, 128, 255, 0.5), 0px 13px 30px 20px rgba(128, 255, 128, 0.5);
  /* animation: glow 5s infinite alternate; kills firefox fps*/

}

.complete-log{
  text-align: left;
}

span {
  padding: 0px;
  margin: 0px;
}

[data-tooltip],
.tooltip {
  position: relative;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition:         
      opacity 0.2s ease-in-out,
      visibility 0.2s ease-in-out,
      transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";  
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: rgba(255,255,255,0.9);
  color: black;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
  box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.4);
  border-radius: 3px;
  text-align: center;
  text-transform: none;
  font-weight: 500;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: white;
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  transform:         translateY(-12px); 
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: white;
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
  transform:         translateX(-12px); 
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: white;
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  transform:         translateY(12px); 
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: white;
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  transform:         translateX(12px); 
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}